/* General settingss */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(168, 160, 172);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(205, 184, 214);
}

/* APP */
#page {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* INFO */
#info {
  width: 100%;
  height: 20vh;
  background-color: rgb(124, 63, 153);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px solid white;
}

#namePlaceholder {
  text-align: center;
  width: 200px;
}

#statusParent {
  text-align: center;
  width: 140px;
}

.bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  color: black;
  background-color: white;
  border-radius: 0.3em;
  transition-duration: 0.4s;
}

.connect:disabled {
  color: white;
  background-color: #04AA6D;
}

.disconnect:disabled {
  color: white;
  background-color: #f44336;
}

.connect {
  border: 2px solid #04AA6D;
}

.connect:hover {
  background-color: #04AA6D;
  color: white;
}

.disconnect {
  border: 2px solid #f44336;
}

.disconnect:hover {
  background-color: #f44336;
  color: white;
}

/* CHAT */
#chat {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#msgList {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(46, 44, 46);
  overflow-y: scroll;
  padding-top: 10px;
  padding-left: 20px;
}

.msgParent {
  width: 100%;
  display: flex;
  align-items: center;
}

.msgParent.fromOther {
  justify-content: start;
}

.msgParent.fromUser {
  justify-content: end;
}

.msg {
  position: relative;
  padding: 7px;
  border-radius: 8px;
  word-wrap: break-word;
}

.msg.fromOther {
  background-color: rgb(125, 98, 138);
  text-align: left;
  margin: 0px 70px 10px 15px;
}

.msg.fromUser {
  background-color: rgb(124, 63, 153);
  text-align: right;
  margin: 0px 15px 10px 70px;
}

.msg.fromOther:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: rgb(125, 98, 138);
  border-left: 0;
  border-bottom: 0;
  margin-top: -2px;
  margin-left: -12px;
}

.msg.fromUser:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-left-color: rgb(124, 63, 153);
  border-right: 0;
  border-bottom: 0;
  margin-top: -2px;
  margin-right: -12px;
}

#chatbox {
  height: 30px;
}

#chatbox:focus {
  outline: 4px ridge rgba(170, 50, 220, .6);
}